.StatusViewer {
  min-width: 50px;
  max-width: 50px;
  min-height: 50px;
  max-height: 50px;
  border-radius: 50%;
  border: 1px white solid;
}

.OK {
  background-color: green;
}

.Disabled {
  background-color: red;
}
